html, body, .container {
    height:100%;
}

.sidebar__header {
    background: pink;
    height: 50px;
}

.sidebar__body {
  background: lightcoral;
}

div#welcome {
  flex-direction: column;
  justify-content: center;
}

#welcome div {
  justify-content: center;
}

#sidebar {
  background: lightblue;
}

#dishDetails {
  background: lightgray;
}

.row {
  height: 100%;
}

.addButton, .remButton {
  width: 30px;
  height: 30px;
}

.inputRow {
  width: 35px;
}

.confButton {
  clear: both;
}