html,body,.container
{
    height:100%;
}

header
{
    background: pink;
    height: 50px;
}

.row
{
    height: 100%;
}
.col-md-3 {   
    background: lightgrey;
}
.col-md-9 {
    background: lightblue;
}