html, body {
  width: 100vw;
  height: 100vh;
}

#page-wrapper {
  background-color: aqua;
}

.site-header {
  padding: 20px;
  background-color: lightblue;
  border-bottom: 1px solid lightgray;
}

#welcome-page {
  position: absolute;
  width: 100%;
  height: 100%;
}

#printout-page {
  position: absolute;
  width: 100%;
  height: 100%;
}

#dinner-header {
  padding: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#dinner-header p, #dinner-header span {
  font-weight: bold;
}

#printout__body {
  padding-left: 20px;
}

.dish-printout-img {
  overflow: hidden;
  height: auto;
  width: 100%;
  background-color: pink;
}

.dish-printout-img img {
  max-width: 100%;
  max-height: 100%;
}

#sidebar {
  background-color: blueviolet;
}

#dishSearch {
  background-color: burlywood;
}

#dishSearch__header {
  background-color: grey;
}

.dish-details-img {
  overflow: hidden;
  height: auto;
  width: 100%;
  background-color: pink;
}

.dish-printout-img img {
  max-width: 100%;
  max-height: 100%;
}

.ingredient-card {
  margin: 5px; 
}

#dish-details-preparation {
  padding-top: 10px;
}








/*
.sidebar__header {
    background: pink;
    height: 50px;
}

.sidebar__body {
  background: lightcoral;
}

.testdiv {
  max-width: 200px;
  max-height: auto;
}

#sidebar {
  background: lightblue;
}

#dishDetails {
  background: lightgray;
  height: 100%;
}

.addBtn, .remBtn {
  width: 38px;
  height: 38px;
}

.panel {
  background: lightsalmon;
  width: 50%;
}

#sameRow {
  display: flex;
  justify-content: space-between;
}

.inputRow {
  width: 35px;
}

#dishSearch {
  background-color: pink;
  padding: 0px;
}

.dishSearch__header {
  background-color: gray;
}

.dishSearch__body {
  padding: 15px;
}

.select-dish-container {
  margin: 0px;
  height: 100%;
}

.dish-card {
  padding: 5px;
}

.dish-img {
  width: 350px;
}

#overview__header {
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

#overview__header span {
  font-size: 20px;
  font-weight: bold;
}

#overview__body .dish-card {
  padding-bottom: 0px;
}

#overview__footer .priceDiv {
  font-weight: bold;
  margin-bottom: 15px;
}

*/